canvas {
  border: 1px solid black;
  background: #fff;
}
/* general changes */
.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.aboutme img {
  float:left;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
